<template>
  <div class='list'>
    <h3 class="title">
      Отложенный список
    </h3>
    <div class="items">
      <div class="item" v-for="item of items" :key="item.id" @click.prevent="deleteItem(item.id)">{{ item.title }}</div>
    </div>
    <div class="actions">
      <el-button type="success" :disabled="value.length < 1" @click="$emit('onSelectIds', items.map(i => i.id))">Выбрать отложенные</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'List',
  props: {
    treeData: {
      type: Object,
      default: () => {},
    },
    value: {
      type: Array,
      default: () => [],
    }
  },
  computed: {
    items() {
      return this.value.map( v => this.treeData[ v ])
    }
  },
  methods: {
    deleteItem(id) {
      this.$emit('onDeleteId', id);
    }
  }
}
</script>

<style lang="scss" scoped>
  .list {
    min-width: 300px;
    padding: 20px 10px;
    display: flex;
    flex-flow: column nowrap;

    .title {
      min-height: 40px;
      text-align: center;
    }

    .items {
      flex-grow: 1;
    }
    .item {
      padding: 3px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
    .actions {
      min-height: 40px;
      display: flex;
      justify-content: center;
    }
  }
</style>
