<template>
  <div class="map" id="map">
    Map
  </div>
</template>

<script>
import mapWorker from './../utils/mapWorker';

export default {
  name: 'Map',
  data() {
    return {
      map: null,
      tileLayer: null,
    }
  },
  methods: {
    initMap() {
      const leaflet = mapWorker();
      this.map = leaflet.map;//L.map('map')
      this.map.setView([38.63, -90.23], 13);
    },
    initLayers() {
      this.tileLayer = L.tileLayer(
        'https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png',
        {
          maxZoom: 18,
          attribution: 'Hey dude!',
        }
      );
      this.tileLayer.addTo(this.map);
    }
  },
  mounted() {
    this.initMap();
    this.initLayers();
  },
}
</script>

<style lang="scss" scoped>
  .map {
    flex-grow: 1;
  }
</style>
