<template>
  <div class="tree">
    <h3 class="title">Дерево мест</h3>
    <TreeItem v-for="item of roots" 
      :key="item.id" 
      :treeItems="treeData" 
      :item="item"
      :selectedIds="value" 
    />
  </div>
</template>

<script>
import TreeItem from '~/components/Tree/Item';
import Bus from '~/components/Tree/bus.js';
import mapWorker from '~/utils/mapWorker';

export default {
  name: 'Tree',
  components: {
    TreeItem,
  },
  props: {
    treeData: {
      type: Object,
      default: () => {},
    },
    value: {
      type: Array,
      default: () => [],
    }
  },
  computed: {
    roots() {
      const roots = {};
      for( let itemId in this.treeData ) {
        if( !this.treeData[ itemId ].parent ) {
          roots[ itemId ] = this.treeData[ itemId ];
        }
      }
      return roots;
    }
  },
  mounted() {
    Bus.$on('onSelect', ( itemIds ) => {
      this.$emit('input', itemIds);
    });
  }
}
</script>

<style lang="scss" scoped>
  .tree {
    min-width: 300px;
    padding: 20px 10px;
    display: flex;
    flex-flow: column nowrap;
  }
  .title {
    min-height: 40px;
    text-align: center;
  }
</style>
