<template>
  <div class="treeItem">
    <div v-if="hasChildren" @click.self="selectItems">
      {{item.title}}
      <TreeItem v-for="child of children" 
        :key="child.id" 
        :treeItems="treeItems" 
        :item="child"
        :selectedIds="selectedIds" 
      />
    </div>
    <div v-else :class="{selectedItem: selectedItem}" @click.prevent="selectItem">-{{item.title}}</div>

  </div>
</template>

<script>
import TreeItem from '~/components/Tree/Item';
import Bus from '~/components/Tree/bus.js';

export default {
  name: 'TreeItem',
  components: {
    TreeItem
  },
  props: {
    treeItems: {
      type: Object,
      default: () => {},
    },
    item: {
      type: Object,
      default: () => {},
    },
    selectedIds: {
      type: Array,
      default: () => [],
    }
  },
  computed: {
    hasChildren() {
      return this.item.children && this.item.children.length > 0;
    },
    children() {
      if( !this.hasChildren ) return [];

      const childrenArr = [];
      for( let childId of this.item.children ) {
        childrenArr.push( this.treeItems[ childId ] );
      }
      return childrenArr;
    },
    selectedItem() {
      return this.selectedIds.includes( this.item.id );
    }
  },
  methods: {
    selectItem() {
      const ids = this.selectedIds;
      const index = this.selectedIds.indexOf( this.item.id );
      if( index > -1 ) {
        ids.splice(index, 1);
      } else {
        ids.push( this.item.id );
      }
       
      Bus.$emit('onSelect', ids)
    },
    selectItems() {
      const allChildrenIds = [];
      const getAllChildren = ( id ) => {
        const item = this.treeItems[ id ];
        if( !item.children ) {
          allChildrenIds.push( id );
        } else {
          for( let child of item.children ) {
            getAllChildren( child );
          }
        }
        

      }
      getAllChildren( this.item.id );
      
      Bus.$emit('onSelect', allChildrenIds)
    }
  }
}
</script>

<style lang="scss" scoped>
  .treeItem {
    padding-left: 20px;
  }
  .selectedItem {
    background: #eee;
  }
</style>
