<template>
  <div class="main-page">
    <Tree 
      :treeData="treeData" 
      v-model="selected"
    />
    <Map/>
    <List 
      v-model="selectedForList" 
      :treeData="treeData" 
      @onSelectIds="onSelectList" 
      @onDeleteId="onDeleteIdFromList"
    />
  </div>
</template>

<script>
import List from '~/components/List';
import Map from '~/components/Map';
import Tree from '~/components/Tree';

import mapWorker from '~/utils/mapWorker';

export default {
  components: {
    List,
    Map,
    Tree,
  },
  data() {
    return {
      selected: [],
      treeData: {
        section1: {
          id: 'section1',
          title: "Section1",
          children: ['section3', 'section5'],
        },
        section2: {
          id: 'section2',
          title: "Section2",
          children: ['section4'],
        },
        section3: {
          id: 'section3',
          title: "Section3",
          parent: 'section1',
          children: ['item1', 'item4'],
        },
        section4: {
          id: 'section4',
          title: "Section4",
          parent: 'section2',
          children: ['item2'],
        },
        section5: {
          id: 'section5',
          title: "Section5",
          parent: 'section1',
          children: ['item3'],
        },
        item1: {
          id: 'item1',
          title: 'ItemOne',
          parent: 'section3',
          lat: 38.63,
          lng: -90.23,
        },
        item2: {
          id: 'item2',
          title: 'ItemTwo',
          parent: 'section4',
          lat: 38.62,
          lng: -90.22,
        },
        item3: {
          id: 'item3',
          title: 'ItemThree',
          parent: 'section5',
          lat: 38.61,
          lng: -90.21,
        },
        item4: {
          id: 'item4',
          title: 'ItemFour',
          parent: 'section3',
          lat: 38.64,
          lng: -90.24,
        },
      },
      selectedForList: [],
    }
  },
  methods: {
    onSelectList( ids ) {
      console.log(ids)
      this.selected = ids;
    },
    renderMarks() {
      const leaflet = mapWorker();

      leaflet.markLayer.clearLayers();
      for( let id of this.selected ) {
        const item = this.treeData[id];
        let marker = null;
        if( item.lng && item.lng && !this.selectedForList.includes( item.id ) ) marker = L.marker([item.lat, item.lng], {title: item.title || ''}).addTo(leaflet.markLayer);
        if( marker ) marker.addEventListener('mouseover', ( e ) => {
          if( !this.selectedForList.includes( item.id ) ) {
            this.selectedForList.push( item.id );
          }
        })
      }
    },
    onDeleteIdFromList( id ) {
      const listIndex = this.selectedForList.indexOf( id );
      if( listIndex > -1 ) this.selectedForList.splice(listIndex, 1);

      const treeIndex = this.selected.indexOf( id );
      if( treeIndex > -1 ) this.selected.splice(treeIndex, 1);
    }
  },
  watch: {
    selected() {
      this.renderMarks();
      
    },
    selectedForList( ids ) {
      this.renderMarks();
    }
  }
}
</script>

<style>
.main-page {
  min-height: 100vh;
  display: flex;
}
</style>
